---
import SkillsContainer from "./SkillsContainer.astro"
import Skill from "./Skill.astro"

const SKILLS = [
  {
    name : "JavaScript",
    logo: "../../public/icons/JavaScript.svg",
    category : "web",
    color: "",
    description: ""
  },
  {
    name : "HTML",
    logo: "../../public/icons/HTML.svg",
    category : "web",
    color: "",
    description: ""
  },
  {
    name : "CSS",
    logo: "../../public/icons/CSS.svg",
    category : "web",
    color: "",
    description: ""
  },
  {
    name : "React",
    logo: "../../public/icons/React.svg",
    category : "web",
    color: "",
    description: ""
  },
  {
    name : "Astro",
    logo: "../../public/icons/Astro.svg",
    category : "web",
    color: "",
    description: ""
  },
  {
    name : "Tailwind CSS",
    logo: "../../public/icons/Tailwind.svg",
    category : "web",
    color: "",
    description: ""
  },
  {
    name : "TypeScript",
    logo: "../../public/icons/TypeScript.svg",
    category : "web",
    color: "",
    description: ""
  },
  {
    name : "Python",
    logo: "../../public/icons/Python.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "Machine Learning",
    logo: "../../public/icons/ML.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "scikit-learn",
    logo: "../../public/icons/SkLearn.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "SciPy",
    logo: "../../public/icons/Scipy.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "Pandas",
    logo: "../../public/icons/Pandas.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "Numpy",
    logo: "../../public/icons/NumPy.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "Matplotlib",
    logo: "../../public/icons/Matplotlib.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "Seaborn",
    logo: "../../public/icons/Seaborn.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "Algebra",
    logo: "../../public/icons/Algebra.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "Statistics",
    logo: "../../public/icons/Statistics.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "Probability",
    logo: "../../public/icons/Probability.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "Calculus",
    logo: "../../public/icons/Calculus.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "Linear Algebra",
    logo: "../../public/icons/LinearAlgebra.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "Exploratory Data Analysis",
    logo: "../../public/icons/ExploratoryData.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "Treatment of Missing Data",
    logo: "../../public/icons/TreatmentMissing.svg",
    category : "ia",
    color: "",
    description: ""
  },
  {
    name : "MySQL",
    logo: "../../public/icons/MySQL.svg",
    category : "db",
    color: "",
    description: ""
  },
  {
    name : "PostgreSQL",
    logo: "../../public/icons/PostgreSQL.svg",
    category : "db",
    color: "",
    description: ""
  },
  {
    name : "Git",
    logo: "../../public/icons/Git.svg",
    category : "tool",
    color: "",
    description: ""
  },
  {
    name : "Linux/WSL",
    logo: "../../public/icons/Linux.svg",
    category : "tool",
    color: "",
    description: ""
  },
  {
    name : "Conda",
    logo: "../../public/icons/Anaconda.svg",
    category : "tool",
    color: "",
    description: ""
  },
  {
    name : "npm",
    logo: "../../public/icons/NPM.svg",
    category : "tool",
    color: "",
    description: ""
  },
  {
    name : "VSC",
    logo: "../../public/icons/VSC.svg",
    category : "tool",
    color: "",
    description: ""
  },
  {
    name : "Markdown",
    logo: "../../public/icons/Markdown.svg",
    category : "tool",
    color: "",
    description: ""
  }
]

---

<section id="skills" class="w-full h-auto flex flex-col items-center pt-8 text-primary mr-6 z-10">
  <h1 class="pt-8 pb-6 text-4xl font-bold z-10">Habilidades</h1>
  <div class="w-full max-w-4xl flex flex-col flex-wrap justify-center z-10">
    <SkillsContainer title="Inteligencia Artificial">
      {
        SKILLS.filter(skill => skill.category === "ia").map(skill => (
          <Skill logoPath={skill.logo} logoName={skill.name}/>
        ))
      }
    </SkillsContainer>
    <SkillsContainer title="Desarrollo Web">
      {
        SKILLS.filter(skill => skill.category === "web").map(skill => (
          <Skill logoPath={skill.logo} logoName={skill.name}/>
        ))
      }
    </SkillsContainer>
    <SkillsContainer title="Herramientas">
      {
        SKILLS.filter(skill => skill.category === "tool").map(skill => (
          <Skill logoPath={skill.logo} logoName={skill.name}/>
        ))
      }
    </SkillsContainer>
    <SkillsContainer title="Bases de Datos">
      {
        SKILLS.filter(skill => skill.category === "db").map(skill => (
          <Skill logoPath={skill.logo} logoName={skill.name}/>
        ))
      }
    </SkillsContainer>
  </div>
</section>